* {
    padding: 0;
    margin: 0;
}

main {
    animation: drop 3s ease;
    margin: 0px 0px 0px 150px;
}

.rear {
    background: black;
    width: 23px;
    height: 24px;
    margin: 29.8px 0px 0px 30px;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.middle {
    background: black;
    width: 35px;
    height: 35px;
    position: absolute;
    margin:18px 0px 0px 53px; 
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.front {
    background: black;
    width: 23px;
    height: 24px;
    margin: 29.8px 0px 0px 88px;
    position: absolute;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.rwheel {
    background: cyan;
    width: 23px;
    height: 23px;
    border-radius: 20px;
    margin: 45px 0px 0px 31px;
    position: absolute;
}

.fwheel {
    background: cyan;
    width: 23px;
    height: 23px;
    border-radius: 20px;
    margin: 45px 0px 0px 87px;
    position: absolute;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
